@font-face {
    font-family: 'elementary';
    src: url('elementary.eot');
    src: url('elementary.eot?#iefix') format('embedded-opentype'),
         url('elementary.woff') format('woff'),
         url('elementary.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}

.el {
  display: inline-block;
  font: normal normal normal 14px/1 elementary;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.el-logo:before {
  content: "\f1ff";
}
